html,body{padding:0;margin:0;box-sizing:border-box;background-color:#e8e3e3 !important;line-height:1 !important;background-image:url(images/35c8c6cb9c3de92de531276ad1102079.png);background-repeat:repeat}*{padding:0;margin:0}

